@media screen and (max-height:575px){
    #rc-imageselect,.g-recaptcha{
        transform:scale(.77);
        -webkit-transform:scale(.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0
    }
}
@media screen and (min-width:1445px){
    .f-expand h3,.f-expand ul li{
        width:70%!important
    }
}
@media screen and (max-width:1200px){
    .sys-menu-top{
        display:none
    }
    p.first,p.second{
        margin-right:0
    }
    p.fourth,p.third{
        margin-left:0
    }
    .col-sm-9.col-md-9.manged-box-right{
        border:0
    }
    .col-sm-9.col-md-9.manged-box-left{
        border:0;
        margin-left:0
    }
    .sys-heading img{
        border-right:0;
        padding-right:0
    }
    .at-screen{
        display:none!important
    }
    .at-mobile{
        display:block!important
    }
    .es-main .tab-logo-container{
        padding-top:0!important
    }
    .es-main .tab-content>.tab-pane{
        margin-bottom:30px
    }
}
@media screen and (max-width:1160px){
    .grid-wrapper{
        width:960px;
        padding-bottom:63px
    }
    .content-grid-1{
        min-height:auto
    }
}
@media screen and (max-width:1000px){
    .slider-overlay h1{
        width:100%
    }
    .webapp-main h2{
        margin-top:80px
    }
    img.p-img{
        position:relative!important
    }
}
@media screen and (max-width:990px){
    .grid-wrapper{
        width:810px
    }
}
@media screen and (max-width:991px){
    .owl-theme.sys-home-slider .owl-dots .owl-dot span{
        margin-top:0
    }
}
@media screen and (max-width:920px){
    .pricing-container{
        width:626px;
        max-width:100%
    }
    .price-box:nth-child(2n){
        margin-right:0
    }
    .pricing-box.text,.pricing-box.value{
        width:100%;
        margin-bottom:80px
    }
    .pricing-box.value.p-grid{
        width:100%
    }
    .tab-logo-container img{
        max-width:100%
    }
}
@media screen and (max-width:860px){
    .grid-wrapper{
        width:100%;
        margin:0 auto
    }
}

