/*****************************
  Button
*****************************/

button {
	outline: medium none !important;
	color: $primary;
}

/* Btn */
.btn {
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	padding: 14px 26px;
	font-weight: 700;
	border-radius: $border-radius-md;
	transition: all 0.3s ease-in-out;
	&:not(:disabled) {
		&:not(.disabled).active {
			&:focus {
				box-shadow: none;
				outline: none;
			}
		}
		&:not(.disabled) {
			&:active {
				&:focus {
					box-shadow: none;
					outline: none;
					color: $gray-9;
				}
			}
		}
	}
	&:hover {
		box-shadow: none;
		outline: none;
	}
	&:focus {
		box-shadow: none;
		outline: none;
		color: $white;
	}
	&:active {
		box-shadow: none;
		outline: none;
		color: $white;
	}
}
.show {
	>.btn.dropdown-toggle {
		&:focus {
			box-shadow: none;
			outline: none;
			color: $white;
		}
	}
	>.btn-primary.dropdown-toggle {
		background: $primary;
		border-color: $primary;
	}
}
.btn-primary {
	background: $primary;
	border-color: $primary;
	color: $white;
	&:hover {
		background: none;
		border-color: $primary;
	  	color: $primary;
		&:not(:disabled) {
			&:not(.disabled).active {
				background: none;
				border-color: $primary;
			}
			&:not(.disabled) {
				&:active {
					background: none;
					border-color: $primary;
				}
			}
		}
	}
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: none;
	border-color: $primary;
	color: $primary;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
	background: $primary;
	border-color: $primary;
}

.btn-primary.focus, 
.btn-primary:focus {
	background: $primary;
	border-color: $primary;	
}

/* flat style */
.btn-primary.btn-flat:hover {
	background: $gray-9;
	border-color: $gray-9;
	color: $white;
}

.btn-primary.btn-flat:not(:disabled):not(.disabled):active:focus {
	background: $gray-9;
	border-color: $gray-9;
	color: $white;
}

.btn-dark.btn-flat:hover {
	background: $primary;
	border-color: $primary;
	color: $white;
}

.btn-dark.btn-flat:not(:disabled):not(.disabled):active:focus {
	background: $primary;
	border-color: $primary;
	color: $white;
}

.btn-light.btn-flat:hover {
	background: $primary;
	border-color: $primary;
	color: $white;
}

.btn-light.btn-flat:not(:disabled):not(.disabled):active:focus {
	background: $primary;
	border-color: $primary;
	color: $white;
}


.btn-dark {
	background: $gray-9;
	border-color: $gray-9;
	&:hover {
		background: none;
		border-color: $gray-9;
		color: $gray-9;
	}

}

.btn-dark:not(:disabled):not(.disabled):active:focus {
    color: $white;
}

.btn-dark:not(:disabled):not(.disabled).active, 
.btn-dark:not(:disabled):not(.disabled):active, 
.show>.btn-dark.dropdown-toggle {
	background: $gray-9;
	border-color: $gray-9;
}

.btn-dark.focus, 
.btn-dark:focus {
	background: $gray-9;
	border-color: $gray-9;
}

.btn {
	&:not(:disabled) {
		&:not(.disabled).active {
			&:focus {
				color: $white;
			}
		}
	}
	+ {
		.btn {
			margin-left: 3px;
		}
	}
}

/* Link */
.btn-link {
	color: $primary;
	padding: 0;
	&:hover {
		color: $gray-9;
		text-decoration: none;
		outline: none;
	}
	&:focus {
		color: $gray-9;
		text-decoration: none;
		outline: none;
	}
}

.btn.btn-link:not(:disabled):not(.disabled):active:focus {
	color: $gray-9;
}

.btn-light {
	background: $white;
	border-color: $white;
	color: $gray-9;
	&:hover {
		background: none;
		border-color: $white;
		color: $white;
	}
	&:active {
		color: $gray-9;
	}
	&:focus {
		color: $gray-9;
	}
}

.btn.btn-light:not(:disabled):not(.disabled):active:focus {
	color: $white;
}

a.text-dark {
	color: $gray-8 !important;
}

a.text-dark:focus, 
a.text-dark:hover {
	color: $primary !important;
	transition: all 0.3s ease-in-out;

}

/* Button Size */
.btn.btn-sm {
    padding: 12px 22px;
    font-size: 13px;
    line-height: 18px;
}
.btn.btn-md {
    padding: 14px 26px;
    line-height: 22px;
    font-size: 14px;
}
.btn.btn-lg {
    padding: 16px 30px;
    font-size: 15px;
    line-height: 24px;
}
.btn.btn-xl {
    padding: 18px 32px;
    font-size: 16px;
    line-height: 24px;
}

/* Button Outline */
.btn-outline-dark {
	border-color: $gray-9;
	color: $gray-9;
	&:hover {
		background: $gray-9;
		color: $white;
		border-color: $gray-9;
	}
	&:focus {
		background: $gray-9;
		color: $white;
		border-color: $gray-9;
	}
}

.btn-outline-dark:not(:disabled):not(.disabled):active {
	background: $gray-9;
	color: $white;
	border-color: $gray-9;
}
.btn-outline-primary {
	color: $primary;
	border-color: $primary;
	&:hover {
		background: $primary;
		color: $white;
		border-color: $primary;
	}
	&:focus {
		background: $primary;
		color: $white;
		border-color: $primary;
	}
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
	background: $primary;
	color: $white;
	border-color: $primary;
}

/* Border style */
.btn-outline-primary.btn-border:hover {
	background: transparent;
	border-color: $gray-9;
	color: $gray-9;
}

.btn-outline-primary.btn-border:focus {
	background: transparent;
	border-color: $gray-9;
	color: $gray-9;
}

.btn-outline-primary.btn-border:not(:disabled):not(.disabled):active {
	background: transparent;
	border-color: $gray-9;
	color: $gray-9;
}

.btn-outline-dark.btn-border:hover {
	background: transparent;
	border-color: $primary;
	color: $primary;
}

.btn-outline-dark.btn-border:focus {
	background: transparent;
	border-color: $primary;
	color: $primary;
}

.btn-outline-dark.btn-border:not(:disabled):not(.disabled):active {
	background: transparent;
	border-color: $primary;
	color: $primary;
}

.btn-outline-light.btn-border:hover {
	background: transparent;
	border-color: $primary;
	color: $primary;
}

.btn-outline-light.btn-border:focus {
	background: transparent;
	border-color: $primary;
	color: $primary;
}

.btn-outline-light.btn-border:not(:disabled):not(.disabled):active {
	background: transparent;
	border-color: $primary;
	color: $primary;
}